@page "/"

<h1>Blazor NameOfComponent</h1>
<h2 class="pl-5">by <img src="_content/Shared/mobsites-logo.png" width="42" height="42" />obsites</h2>
<br />
<div class="row mb-3">
    <div class="col col-sm-8 col-xl-4">
        <p>
            <b>
                NOTE: This demo component is set to keep state. Make some changes,
                reload the page, and see how the changes are maintained.
            </b>
        </p>
    </div>
</div>

<NameOfComponent />

<br />
<div class="row mb-3">
    <div class="col col-sm-8 col-xl-4">
        <p>
            <b>
                * <small><i>This demonstrates the use of this component 
                without a dependency on any of our other components. 
                We, of course, recommend using this component in conjunction with our other components 
                as they work seamlessly together and can benefit one another, 
                not to mention there are often less css adjustments to incorporate.
                But if you want to go solo, check out the source code for this demo</i> 
                <a target="_blank" href="https://github.com/Mobsites/Blazor.NameOfComponent/tree/master/samples">here</a>
                as one approach.</small>
            </b>
        </p>
    </div>
</div>